################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorld/packages/EntityFramework.6.1.1
/HelloWorld/HelloWorld/bin
/HelloWorld/HelloWorld/obj/Debug
